// src/Cadastro.scss

$background-color: #2D3748;
$border-color: #ccc;
$primary-color: #38B267;
$primary-color-hover: #319657;
$secondary-color: #C53030;
$secondary-color-hover: #a12424;
$text-color: #ffffff;
$font-size: 16px;
$padding: 30px;
$margin-bottom: 15px;




.cadastro_container {

  max-width: 600px;
  /* Aumentei o max-width para acomodar os inputs lado a lado */
  margin: 0 auto;
  padding: $padding;
  border: 1px solid $border-color;
  border-radius: 4px;
  background-color: $background-color;
  color: $text-color;

  h2 {
    text-align: center;
    margin-bottom: $margin-bottom;
  }

  form {
    display: flex;
    flex-direction: column;

    .form_group {
      display: flex;
      justify-content: space-between;
      margin-bottom: $margin-bottom;

      .row {
        display: flex;
        width: 100%;
        gap: 1rem;

        div {
          width: 50%;
        }
      }

      .input-group {
        display: flex;
        flex-direction: column;
        width: 48%;
        /* Ajusta a largura dos inputs para caberem lado a lado */

        label {
          margin-bottom: 5px;
          font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="date"] {
          padding: 8px;
          border: 1px solid $border-color;
          border-radius: 4px;
          font-size: $font-size;
        }
      }
    }

    .button_group {
      display: flex;
      justify-content: center;
      gap: 5rem;
      // flex-direction: column;
      padding: auto;
      margin-top: 25px;
    }
  }
}